<div class="container-x">
    <div class="jumbotron ">
        <div class="row">
            <div class="col-sm-6">
                <app-progress [currentProgress]="currentProgress"></app-progress>
            </div>
            <div class="col-sm-6">
                <app-tentativas></app-tentativas>
            </div>
        </div>
        <!--row-->
        <div class="row">
            <div class="col">
                <h5>{{ instrucao }}</h5>
                <p>{{ fraseDaRodada.fraseEng }}</p>
                <div class="form-group">
                    <textarea class="form-control" rows="3" (input)="atualizaResposta($event)"></textarea>
                </div>
                <!--form-group-->
            </div>
            <!--col-->
        </div>
        <!--row-->
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    <button type="button" class="btn btn-primary" (click)="checkResponse()">Verificar</button>
                </div>
                <!--d-flex-->
            </div>
            <!--col-->
        </div>
        <!--row-->
    </div>
    <!--jumbotron-->
</div>
<!--container-->